.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #48c6ef;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f86d6, #48c6ef);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f86d6, #48c6ef);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.home-header {
    text-align: center;
    margin-bottom: 2rem;
}

.home-header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.home-content {
    text-align: center;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.25rem;
}

.home-btn {
    background-color: #F2994A;
    color: #FFFFFF;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.home-btn:hover {
    background-color: #FFD166;
    color: #2C3E50;
}

.home-features {
    margin-top: 2rem;
    text-align: center;
}

.home-features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-features ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .home-container {
        padding: 0 10%;
    }

    .home-content p {
        font-size: 1.5rem;
    }

    .home-btn {
        font-size: 1.25rem;
    }

    .home-features h2 {
        font-size: 2.5rem;
    }

    .home-features li {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 767px) {

    .home-container {
        padding: 0 5%;
    }

    .home-btn {
        width: 100%;
    }
}