.task-container {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #1e90ff;
    margin-bottom: 1.5rem;
}

.task-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="text"] {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

button {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

button.add-task {
    background-color: #20bf6b;

}

button.add-task:hover {
    background-color: #0fb75e;
}

button.complete-task {
    background-color: #7bed9f;
}

button.complete-task:hover {
    background-color: #2ecc71;
}

button.delete-task {
    background-color: #eb3b5a;
}

button.delete-task:hover {
    background-color: #e31b43;
}

button.edit-task {
    background-color: #ff9f1a;
}

button.edit-task:hover {
    background-color: #ff8c00;

}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #61c2b2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.task-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.task-list li button {
    margin-left: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.task-list li button:hover {
    transform: scale(1.1);
}